[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
alembic = "*"
pylint = "*"
black = "*"
pytest-cov = "*"
pytest-mock = "*"
pylint = "*"
"autopep8" = "*"
pytest = "*"
tox = "*"

[packages]
flask-marshmallow = "*"
"psycopg2-binary" = "*"
marshmallow-sqlalchemy = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
flask-restplus = "*"
flask-script = "*"
astroid = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
